.mdl-layout__container{
    background-color: #EEF0F3;
}

.mdl-layout-title{
    padding: 0 15px !important;
    line-height: 45px !important;
}
.mdl-layout-title i{
    font-size: 70px;
    color: #FFFFFF;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link{
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover,
.mdl-navigation__link.active{
    background-color: #57386E;
}
.mdl-navigation__link.active .arrow-right{
    display: block;
}
.mdl-navigation__link i{
    font-size: 35px;
    color: #FFFFFF;
}
.mdl-navigation__link p{
    margin: 0;
    color: #FFFFFF;
}
.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__header{
    margin-left: 0;
    width: 100%;
}
.mdl-layout--fixed-drawer>.mdl-layout__content{
    margin-left: 100px;
}

.mdl-layout__header{
    background-color: #FFFFFF;
}
.mdl-layout__drawer{
    background-color: #38386E;
    width: 100px;
}

.mdl-section{
    padding: 20px 25px;
}
.mdl-content-cards{
    max-width: 1200px;
    margin: auto;
    text-align: center;
}
.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #FFFFFF; 
    right: 0;
    margin-top: 25px;
    position: absolute;
    display: none;
}
/*CARDS*/
.mdl-card{
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
            border-radius: 5px;
}
.mdl-card__supporting-text{
    width: 100%;
}
.mdl-card__actions{
    padding: 16px;
}
.mdl-card-admin{
    display: inline-block;
    max-width: 260px;
    margin: 15px;
    height: 225px;
}
.mdl-card-admin .mdl-card__title h2{
    margin: auto;
    padding: 5px 10px;
    border-bottom: 1px solid;
}
.mdl-card__actions button{
    min-width: 160px;
    border-radius: 25px;
    color: #FFFFFF;
    height: 40px;
}
.mdl-card-admin .mdl-card__supporting-text p:nth-child(2){
    margin: auto;
}
.mdl-card-admin:nth-child(4) .mdl-card__supporting-text p:nth-child(2){
    font-weight: bold;
    border-bottom: 1px solid #57386E; 
    max-width: 170px;
    margin: auto;
}
.mdl-card-admin:nth-child(2n) .mdl-card__supporting-text p,
.mdl-card-admin:nth-child(2n) .mdl-card__title h2{
    color: #57386E;
    border-color: #57386E;
}
.mdl-card-admin:nth-child(2n+1) .mdl-card__supporting-text p,
.mdl-card-admin:nth-child(2n+1) .mdl-card__title h2{
    color: #588B8B;
    border-color: #588B8B;
}
.mdl-card-admin:nth-child(2n) .mdl-card__actions button{
    background-color: #57386E;
}
.mdl-card-admin:nth-child(2n+1) .mdl-card__actions button{
    background-color: #588B8B;
}
.mdl-card-challenge{
    display: inline-block;
    max-width: 215px;
    margin: 5px !important;
    min-height: 100%;
}
.mdl-card-challenge .mdl-button--icon{
    height: 30px;
    width: 30px;
    min-width: 30px;
}
.mdl-card-challenge .mdl-card__title{
    padding: 5px;
}
.mdl-card-challenge .mdl-card__title img{
    width: 100%;
}
.mdl-card-challenge .mdl-card__supporting-text{
    padding: 5px 10px;
}
.mdl-card-folder{
    min-height: 100%;
    display: inline-block;
    max-width: 215px;
    margin: 5px !important;
}
.mdl-card-folder .mdl-card__title{
    padding: 10px;
}
.mdl-card-folder .mdl-card__title i{
    color: #57386E;
}
.mdl-card-folder h2{
    font-size: 16px;
    color: #57386E;
    font-weight: bold;
}
.inputs-add{
    margin: 10px 0;
}
.inline{
    display: inline-block;
    vertical-align: middle;
}
.login img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.login p{
    color: #757575;
    font-weight: bold;
    margin: 0;
}

/*INPUTS*/
#inputs{
    padding: 10px 0 30px 0;
}
.input-group .mdl-button{
    min-width: 36px;
}
.form-control {
    height: 37px;
}
.inputs-add:nth-child(1) .input-group span button {
    background-color: #588B8B;
}
.inputs-add:nth-child(2) .input-group span button {
    background-color: #57386E;
}
.inputs-add:nth-child(3) .input-group span button {
    background-color: #FFFFFF;
}
.inputs-add:nth-child(3) .input-group span button i{
    color: #757575;
}
.inputs-add .input-group span button i{
    color: #FFFFFF;
}

/*Tamaños y colores*/
.width-125{
    max-width: 130px;
}
.width-850{
    max-width: 850px;
}
.width-600{
    max-width: 600px;
    margin: auto;
    border: 2px dashed #CECECE;
    padding: 40px;
}
.width-260 {
    max-width: 260px;
    margin-right: 20px;
}
.border-top{
    border-top: 8px solid #57386E;
}
.verde:hover,
.verde{
    background-color: #588B8B;
}
.morado:hover,
.morado{
    background-color: #57386E;
}

/*EMPTY*/
.empty{
    padding:100px 10px;
}
.empty p{
    margin: 0;
    color: #000000;
    text-decoration: underline;
    font-weight: bold;
}
.mdl-card{
    width: 100%;
}
.mdl-card-contenido{
    max-width: 1140px;
    margin: 15px auto;
}

.mdl-tabs .mdl-tabs__tab{
    background-color: #57386E;
    color: #FFFFFF;
    width: 100%;
    text-decoration: none;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active{
    background-color: #588B8B;
    color: #FFFFFF;
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after{
    background-color: #FF386E;
    height: 4px;
}

.contenido-upload{
    background-color: #FFFFFF;
    padding: 40px;
    color: #57386E;
}
.image-upload i{
    font-size: 100px;
    color: #57386E;
}
button.border-button:hover,
button.border-button{
    background-color: #57386E;
    color: #FFFFFF;
    border-radius: 20px;
}
  
.mdl-switch{
    width: inherit;
}

.mdl-switch__thumb:before{
    content:"OFF";
    font-size: 10px;
    vertical-align: middle;
}

.mdl-switch.is-upgraded {
    padding-left: 28px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.mdl-switch.is-checked .mdl-switch__track{
    background: -moz-linear-gradient(45deg, rgba(247,207,74,1) 0%, rgba(247,145,31,1) 90%, rgba(208,124,34,1) 95%, rgba(186,112,37,1) 98%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(247,207,74,1)), color-stop(90%, rgba(247,145,31,1)), color-stop(95%, rgba(208,124,34,1)), color-stop(98%, rgba(186,112,37,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(247,207,74,1) 0%, rgba(247,145,31,1) 90%, rgba(208,124,34,1) 95%, rgba(186,112,37,1) 98%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(247,207,74,1) 0%, rgba(247,145,31,1) 90%, rgba(208,124,34,1) 95%, rgba(186,112,37,1) 98%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(247,207,74,1) 0%, rgba(247,145,31,1) 90%, rgba(208,124,34,1) 95%, rgba(186,112,37,1) 98%); /* ie10+ */
    background: linear-gradient(45deg, rgba(247,207,74,1) 0%, rgba(247,145,31,1) 90%, rgba(208,124,34,1) 95%, rgba(186,112,37,1) 98%); /* w3c */
}
.mdl-switch.is-checked .mdl-switch__thumb{
    background: #588B8B;
}
.is-checked .mdl-switch__thumb:before{
    content:"ON";
    color: #FFFFFF
}
.mdl-switch.is-checked .mdl-switch__track,
.mdl-switch__ripple-container .mdl-ripple{
        background: #E0E0E0;
}
 thead tr th{
    color: #5F4175;
 }
 .table>thead>tr>th{
    border-bottom: 2px solid #588B8B;
    vertical-align: middle;
 }
 .table>tbody>tr>td{
    vertical-align: middle;  
 }

 /*MODALES*/
 .modal-dialog p{
    color: #000;
 }
 .title-user{
    border-bottom: 5px solid #588B8B;
    padding: 5px 0;
    margin-bottom: 15px;
 }
 .title-user h2{
    margin: 0;
    font-size: 18px;
    line-height: 1;
    color: #57386E;
 }
 label.mdl-checkbox{
    font-weight: lighter;
 }
 .mdl-checkbox.is-checked .mdl-checkbox__box-outline{
    border: 2px solid #57386E;
 }
 .mdl-checkbox.is-checked .mdl-checkbox__tick-outline{
    background-color: #57386E;
 }

@media screen and (max-width: 1024px){
   .mdl-layout--fixed-drawer>.mdl-layout__content {
        margin-left: 0;
    }
}
