*,
html,
body {
	font-family: 'ZonaPro', sans-serif;
	font-size: 18px;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
	overflow-y: hidden;
}

@font-face {
	font-family: 'ZonaPro';
	src: url('../fonts/ZonaPro-Bold.otf');
	src: url('../fonts/NUNITO-BOLD.ttf')  format('truetype')
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: transparent;
}

.navbar-default .navbar-toggle{
	border: none;
}
/*  ICONO MENU-CLOS */
#nav-icon3{
	width: 30px;
    height: 30px;
    position: relative;
    right: 15px;
    top: 12px;	
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;	
}

.iphone-margin{
	-webkit-margin-before: -50px !important; 
}

#nav-icon3 span{
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #fbcb43;
	border-radius: 0;
	margin-top: 0;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
	top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
	top: 8px;
}

#nav-icon3 span:nth-child(4) {
	top: 16px;
}

#nav-icon3.open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}

#nav-icon3.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}


.navbar-brand{
	padding: 12px;
	height: inherit;
	margin-left: 0 !important;
}

.navbar-brand img {
	width: 45px
}

section {
	padding: 0;
	margin: 0;
	width: 100%;
	height: auto;
	background-color: #FFFFFF;
}

.section {
	padding: 20px 0;
}

.contenido-main a{
	color: #fbcb43;
}

section video {
	width: 100%;
}

.bg-alter {
	background-color: #faedd1;
}

.btn-full {
	width: 100%
}

.input-group {
	margin-bottom: 15px;
	width: 100%;
}

.input-group input{
	border-radius: 3px !important;
}

.navbar-default .navbar-nav>li>a{
	font-size: 14px;
	padding: 18px 24px;
	-webkit-transition: background-color .45s cubic-bezier(.4,0,.2,1),color .45s cubic-bezier(.4,0,.2,1);
    transition: background-color .45s cubic-bezier(.4,0,.2,1),color .45s cubic-bezier(.4,0,.2,1);
}
.col-md-12.down{
    position: absolute;
    bottom: 30px;
    height: 45px;
    width: 45px;
    text-align: center;
    margin: 0;
    padding: 0;
    left: calc(50% - 30px);
}

.col-md-12.down button{
	background-color: #fbcb43;
}

.col-md-12.down button i{
	color: #FFFFFF;
    position: relative;
    top: 4px;
}

.mdl-button.mdl-js-button.mdl-button--raised{
	margin-top: 11px;
	background-color: #fbcb43;
    font-family: inherit;
	text-transform: capitalize;
	color: #FFFFFF;
}
.mdl-button.mdl-js-button.mdl-button--raised.register{
	max-width: 345px;
	width: 100%;
}

.mdl-button.mdl-js-button.mdl-button--raised.register i{
	vertical-align: middle;
    color: #FFFFFF;
    margin-right: 10px;
}

.contenido-main h1{
	font-size: 32px;
	color: #777;
}

@media ( min-width : 768px) {
	nav.navbar.navbar-default{
		background-color: transparent;
		border: none;
	    padding: 20px 90px;
	    -webkit-transition: all .7s ease;
	    -moz-transition: all .7s ease;
	    -o-transition: all .7s ease;
	    -ms-transition: all .7s ease;
	    transition: all .7s ease;
	}
	.navbarcolor{
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		background-color: #FFFFFF !important;
	    padding: 0px 50px !important;
	}
	.navbar-default .navbar-right>li>a{
		border:none;
	}
	.navbar-default .navbar-nav li a:after{
		-webkit-backface-visibility: hidden;
	    -moz-backface-visibility: hidden;
	    backface-visibility: hidden;
	    border: 1px solid rgba(255, 255, 255, 0);
	    bottom: -3px;
	    content: " ";
	    display: block;
	    margin: 0 auto;
	    position: relative;
	    -webkit-transition: all 280ms ease-in-out;
	    -moz-transition: all 280ms ease-in-out;
	    -o-transition: all 280ms ease-in-out;
	    -ms-transition: all 280ms ease-in-out;
	    transition: all 280ms ease-in-out;
	    width: 0;
	}
	.navbar-default .navbar-nav li a:hover, 
	.navbar-default .navbar-nav li a:active, 
	.navbar-default .navbar-nav li a:focus{
		color: #fbcb43; 
	}

	.navbar-default .navbar-nav li a:hover:after, 
	.navbar-default .navbar-nav li a:active:after,
	.navbar-default .navbar-nav li a:focus:after{
		-webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
	    border-color: #fbcb43;
	    -webkit-transition: width 350ms ease-in-out;
	    -moz-transition: width 350ms ease-in-out;
	    -o-transition: width 350ms ease-in-out;
	    -ms-transition: width 350ms ease-in-out;
	    transition: width 350ms ease-in-out;
	    width: 100%;
	}
	.navbar-right{
		margin-right: 0;
	}

	#section-home{
		height: 100vh;
		overflow: hidden;
	}
	.contenido-formulario,
	.contenido-main{
	    position: absolute;
	    top: 50%;
	    transform: translate(0, -50%);
	    width: 100%;
        max-width: 500px;
        color: #777;
	}
	
	#section-home .col-md-6.height{
		height: 100vh;
	}
}

@media (max-width : 768px) {
	nav.navbar.navbar-default{
		background-color: #FFFFFF;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	}
	section{
		padding: 80px 0;
	}
	.navbar-brand{
	    position: relative;
    	left: calc(50% - 35px);
	}
	#section-home .col-md-6.height{
		max-width: 500px;
		margin: auto;
	}
}

@media (max-width : 460px) {
	.col-md-12.down{
		display: none;
	}
}